<ion-header color="primary" class="ion-no-border">
  <ion-list lines="none" class="ion-margin-top">
    <ion-list-header class="ion-padding">
      <ion-label class="ion-text-center">
        Recuperar contraseña
        <p>Te enviaremos un email para que puedas restablecer tu contraseña</p>
      </ion-label>
    </ion-list-header>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <div class="ion-margin">
      <ion-input
        label="Correo electrónico"
        labelPlacement="floating"
        formControlName="email"
        fill="outline"
        name="email">
      </ion-input>
    </div>
    <ion-button
      expand="block"
      size="large"
      shape="round"
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      <ion-text>Recuperar</ion-text>
    </ion-button>
  </form>
</ion-content>
